/Assets/ArtAnimations/
/Assets/ArtAudio/
/Assets/ArtCutScenes/
/Assets/ArtSprites/
/ExternalResources/
/Fonts/
/Ink/
/Plugins/
/Prefabs/
/Resources/
/Scenes/
/Settings/
/Terrain/
/TextMeshPro/
/VFXMaterials/
/VFXShader/
*.meta
*.asset
/**/*.meta
/**/*.asset
/Assets/Settings/
/Assets/Terrain/
/Assets/ExternalResources/
/Assets/Fonts/
/Assets/Ink/
/Assets/Plugins/
/Assets/Prefabs/
/Assets/Resources/
/Assets/Scenes/
/Assets/TextMesh Pro/
/Assets/VFXMaterials/
/Assets/VFXShader/
/.idea/
/.plastic/
/.vs/
/.vscode/
/Builds/
/Library/
/.vsconfig
/Logs/
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/DOTween.Modules.csproj
/DOTweenPro.EditorScripts.csproj
/DOTweenPro.Scripts.csproj
/Ink-Libraries.csproj
/InkEditor.csproj
/Assets/.idea/
/Temp/UnityLockfile
/Temp/FSTimeGet-b3947a27e56793f41a5bea27b5de6e08
*.asmdef
/UserSettings/
/hidden_changes.conf
/ignore.conf
/Muffin.sln
/Muffin in Unity 2022.sln
/Muffin in Unity 2022.sln.DotSettings.user
/ScriptableObjects.csproj
/Scripts.csproj
/Assembly-CSharp-Editor.csproj
/Temp/
/ProjectSettings/
/Packages/
/obj/
/Assets/Scripts/Player/PlayerInputActions.inputactions
/Core.csproj
/Data.csproj
/CaptainHindsight.csproj
