/Assets/ArtAnimations/
/Assets/ArtAudio/
/Assets/ArtCutScenes/
/Assets/ArtSprites/
/ExternalResources/
/Fonts/
/Ink/
/Plugins/
/Prefabs/
/Resources/
/Scenes/
/Settings/
/Terrain/
/TextMeshPro/
/VFXMaterials/
/VFXShader/
*.meta
*.asset
/**/*.meta
/**/*.asset